@font-face {
  font-family: CuteFont;
  src: url(./styles/fonts/CuteFont-Regular.ttf);
}

@font-face {
  font-family: DoHyeon;
  src: url(./styles/fonts/DoHyeon-Regular.ttf);
}


@font-face {
  font-family: NanumBrushScript;
  src: url(./styles/fonts/NanumBrushScript-Regular.ttf);
}

@font-face {
  font-family: NotoSansKR;
  src: url(./styles/fonts/NotoSansKR-Black.otf)
  ,url(./styles/fonts/NotoSansKR-Bold.otf)
  ,url(./styles/fonts/NotoSansKR-Light.otf)
  ,url(./styles/fonts/NotoSansKR-Medium.otf)
  ,url(./styles/fonts/NotoSansKR-Regular.otf)
  ,url(./styles/fonts/NotoSansKR-Thin.otf);
}

@font-face {
  font-family: YeonSung;
  src: url(./styles/fonts/YeonSung-Regular.ttf);
}

body {
  /* font-family: NotoSansKR; */
}